.App {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color:whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.CalcContainer {
  width: 500px;
  margin:auto;
  text-align: center;
  padding: 50px;
  background-color: #212223;
  display:grid;
  position: relative;
  top: 20px;
  border-radius: 10%;
}

.CalcDisplay {

  height: 40px;
  font-size: 2em;
  text-align: right;
  padding:10px;
  background: #212223;
  color:#F5F5E9;
  margin-bottom: 2px;
  
}

.ButtonContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}


.CalcButtonNum {
    font-size: 2em;
    justify-content: center;
    color: #636059;
    background-color: #F2F1F0;
    border: 1px solid #F2F1FD;
    padding: 5px;
    height: 120px;

}

.CalcButtonNum:hover ,.CalcButton:hover, .CalcButton:hover{
  background-color: #212223;
  color: whitesmoke;
  animation-duration: 4s;
  border: #7e8080;
}

.CalcButton {
  font-size: 2em;
  justify-content: center;
  color: #636059;
  background-color: #D6D6D6;
  border: 1px solid #D6D6D6;
}

.CalcButtonName {
  font-size: 2em;
  justify-content: center;
  border-radius: 30px;
  color: #833ab4;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #D6D6D6;
  border-color: #212223;
}

.Name {
  margin-top: 10px;
}

.Notes {
  padding: 10px;
  margin: 100px 200px;
  font-size: 1.5em;
  text-align: left;
  color: #212223;
  font-weight: 500;
}


